@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.btn {
    background-color: #8b43e0;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(139, 67, 224, 0.3);
    transform: translateZ(10px);
}

.btn:hover {
    background-color: #7025c4;
}

.btn:active {
    transform: translateZ(5px);
    box-shadow: 0 2px 4px rgba(139, 67, 224, 0.3);
}